<% include partials/header %>
    <h1>Prova theVelops</h1>
    <div class="thumbnail">
      <% users.forEach(function(user){ %>
        <p><%= user.email %></p>
        <p><%= user.first_name %></p>
        <p><%= user.last_name %></p>
        <p><%= user.personal_phone %></p>

        <form  action="/users/<%= user._id %>/edit" method="GET">
              <button>Editar</button>
        </form>

        <form  action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <button>Deletar</button>
        </form>

      <% }); %>
    </div>
    <a href="/users/" target="_blank">Todos os Usuários (JSON)</a>
    <a href="/users/new">Novo Usuário</a>

<% include partials/footer %>
