<% include partials/header %>
    <h1>Prova theVelops</h1>
    <div class="thumbnail">
      <% users.forEach(function(user){ %>
        <p><%= user.email %></p>
        <p><%= user.first_name %></p>
        <p><%= user.last_name %></p>
        <p><%= user.personal_phone %></p>

        <form  action="/users/<%= user._id %>" target="_blank" method="GET">
              <button>Get User (JSON)</button>
        </form>

        <form  action="/users/<%= user._id %>/edit" method="GET">
              <button>Edit</button>
        </form>

        <form  action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
        </form>

      <% }); %>
    </div>
    <p><a href="/users/" target="_blank">All Users (JSON)</a></p>
    <p><a href="/users/new">New User</a></p>

<% include partials/footer %>
